*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	line-height: 1.5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html > div {
	display: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	outline: none;
	appearance: none;
	font: inherit;
	font-weight: 500;
	font-size: var(--md);
	resize: none;
	background-color: transparent;
}

button {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--md);
	appearance: none;
	background-color: var(--color-1);
	border-radius: var(--radius-1);
	border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}
