body {
	background-color: var(--bg);
	color: var(--text);
}

main {
	display: flex !important;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100dvh;
	height: 100%;
}

input,
textarea {
	border: none;
	outline: none;
	appearance: none;
	font-weight: 500;
	font-size: var(--md);
	resize: none;
	background-color: transparent;
}

button {
	cursor: pointer;
	appearance: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--md);
	color: var(--bg);
	font-family: var(--family-1);
	text-align: center;
	font-weight: bold;
	font-size: var(--lg);
	text-align: center;
	background-color: var(--color-1);
	border-radius: var(--radius-1);
	border: none;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--text);
	font-family: var(--family-1);
	text-align: center;
}

p,
input {
	color: var(--text);
	font-family: var(--family-2);
}

label {
	cursor: pointer;
}

svg {
	height: 100%;
}
